@model IEnumerable<MyAsp.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<p>
    @Html.ActionLink("New Movie", "New", "Movies", null, new { @class = "btn btn-primary" })
</p>

@if (!Model.Any())
{
    <p>У нас нету пока-что видео!</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td>Movie</td>
                <td>Genre</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model)
            {
                <tr>
                    <td>@Html.ActionLink(item.Name, "Edit", "Movies", new { id = item.Id }, null)</td>
                    <td>@item.Genre.Name</td>
                </tr>
            }
        </tbody>
    </table>
}



