
@using MyAsp.Models
@model IEnumerable<MyAsp.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@if (!Model.Any())
{
    <p>У нас нету покачто покупателей!</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <td>Customers</td>
                <td>Discount Rate</td>
                <td>Sign Up Fee</td>
                <td>MemberShipType</td>
            </tr>

        </thead>
        <tbody>
            @foreach (var item in @Model)
            {
                <tr>
                    <td>@Html.ActionLink(item.Name, "Edit", "Customers", new { id = item.ID }, null)</td>
                    <td>@item.MembershipType.DiscountRate%</td>
                    <td>@item.MembershipType.SignUpFee</td>
                    <td>@item.MembershipType.Name</td>
                </tr>
            }
        </tbody>
    </table>
}
